/* DARK THEME COLOR  */
$dark-background-accent : #FFE1D6;
$dark-blue-accent : #873636;
$dark-blue-hover :#FFE1D6 ;
$dark-text-color : #000000;
$dark-background : #b1b1b1;

/* LIGH THEME COLOR */
$light-background-accent : #f2f0f0;
$light-blue-accent : #fccebd;
$light-blue-hover : #873636 ;
$light-text-color : #000000;

/* COMMON COLOR */
$green-accent : #000000;

$error-color: #FF5A5F;
$success-color: #000000;
$warning-color: #FFA500;


$default-transition : all 0.5s ease-in-out;