/* DARK THEME COLOR  */
$dark-background-accent : #5C2E1F;
$dark-blue-accent : #9F433D;
$dark-blue-hover :#D29D89 ;
$dark-text-color : #FFE1D6;
$dark-background : #2D1F17;

/* LIGH THEME COLOR */
$light-background-accent : #FFE1D6;
$light-blue-accent : #9F433D;
$light-blue-hover : #D29D89 ;
$light-text-color : #3A2C1B;

/* COMMON COLOR */
$green-accent : #D2A94D;

$error-color: #FF5A5F;
$success-color: #B57A2A;
$warning-color: #D3A20D;


$default-transition : all 0.5s ease-in-out;